body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: #007ff0;
    color:white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px auto;
    max-width: 600px;
    background: grey;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.113);
}

h2 {
    color: #bec4ca;
}

footer {
    text-align: center;
    padding: 10px;
    background: #007ff0;
    color: #bec4ca;
}

.about {
    padding: 20px;
}

.social-links {
     margin-top: 10px;
}

.social-links > a {
    margin: 0 10px;
    color: #bec4ca;
    text-decoration: none;
    font-weight: bold;
}

.social-links > a:hover {
    text-decoration: underline;
    font-size: 15px;
    color: #000;
}